*
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}

header .logo
{
    color :black;
    font-weight:700;
    text-decoration :none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing:1px;
    padding-left: 2px;
    align-items: center;
}
body{
    min-height: 100vh;
    overflow-x:hidden ;
    background: linear-gradient(#2b1055,#7597de);

}
header{
    position : absolute;
    top:0;
    left:0;
    width:100%;
    display  : flex;
    justify-content : space-between;
    align-items: center;
    z-index: 10000;
    background-color: white;

}
#navbars{
    padding:10px 100px;
}

#cashier{
    width: 100px;
    padding: 10px 10px;
    
}

header .logo
{
    color :black;
    font-weight:700;
    text-decoration :none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing:1px;
    padding-left: 2px;
    align-items: center;
}

header ul{
    display:flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left:20px;
}

header ul li a
{
    text-decoration: none;
    padding: 10px 10px;
    color: black;
    border-radius: 30px;
}

header ul li a:hover,
header ul li a.active{
    background: white;
    color : black;
}